<div class="container partner-container">

  <!-- Left selection tab -->
  <div ng-include include-replace src="'partials/left_tab.html'"></div>

  <!-- Right content section -->
  <div class="right-content pull-right">
    <div class="right-top-section pull-left">
      <h3 class="pull-left">Clients</h3>
      <div class="form-group pull-right">
        <input type="text" class="form-control" ng-model="searchObject.search_string" ng-keypress="keyPressed($event)" placeholder="Search for clients"/>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by: {{ (sortTypes | filter:{ id: searchObject.sort_type})[0].text  }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="changeSort(sortType.id)" ng-repeat="sortType in sortTypes"><a>{{ sortType.text }}</a></li>
        </ul>
      </div>
    </div>
    <div ng-if="(clients.length == 0 && !searchOnProgress)" class="empty-state text-center pull-left">
      <i></i>
      <p>
        Couldn’t find anything related.
      </p>
      <p class="small">
        Please try again with a different search term
      </p>
    </div>
    <div ng-if="!(clients.length == 0 && !searchOnProgress)" class="content-wrapper pull-left">
      <div class="table-header pull-left">
        <div class="header-item id pull-left">
          CLIENT ID
        </div>
        <div class="header-item first-name pull-left">
          FIRST NAME
        </div>
        <div class="header-item last-name pull-left">
          LAST NAME
        </div>
        <div class="header-item mail pull-left">
          EMAIL
        </div>
        <div class="header-item date pull-left">
          DATE JOINED
        </div>
      </div>
      <div class="table-content-wrapper pull-left data_clients_table">
        <div class="table-item pull-left" ng-click="page.redirect('/clients/' + client.client_id)" ng-repeat="client in clients">
          <div class="row-item id pull-left">
            {{ client.client_id }}
          </div>
          <div class="row-item first-name pull-left">
            {{ client.first_name }}
          </div>
          <div class="row-item last-name pull-left">
            {{ client.last_name }}
          </div>
          <div class="row-item mail pull-left">
            {{ client.email }}
          </div>
          <div class="row-item date pull-left">
            {{ client.joined_at | date : 'MM/dd/yyyy' }}
          </div>
        </div>
        <div class="load-more pull-left" ng-click="loadMore()" style="cursor: pointer;"  ng-if="hasMoreData && !searchOnProgress">
          <p class="text-center">
            LOAD MORE <span class="caret"></span>
          </p>
        </div>
        <div class="load-more pull-left" style="cursor: wait;" ng-if="hasMoreData && searchOnProgress">
          <p class="text-center">
            LOADING...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>