<div class="container partner-container">

  <!-- Left selection tab -->
  <div ng-include include-replace src="'partials/left_tab.html'"></div>

  <!-- Right content section -->
  <div class="right-content pull-right">
    <div class="right-top-section pull-left">
      <h3 class="pull-left">{{ client_id }} - {{ client.first_name + " " + client.last_name }} - <span>{{ client.email }}</span></h3>
    </div>
    <div class="content-wrapper pull-left">
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Personal Details</h4>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            First Name:
          </div>
          <div class="item-detail pull-left">
            <p editable-text="client.first_name" onbeforesave="update('first_name',$data)">
              {{ client.first_name || 'empty' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Last Name:
          </div>
          <div class="item-detail pull-left">
            <p editable-text="client.last_name" onbeforesave="update('last_name',$data)">
              {{ client.last_name || 'empty' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Email:
          </div>
          <div class="item-detail pull-left">
            <p editable-email="client.email" onbeforesave="update('email',$data)">
              {{ client.email || 'empty' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Phone No.:
          </div>
          <div class="item-detail pull-left">
            <p editable-tel="client.phone"  e-pattern="^\d{10}$" e-title="10 digits (Example: '1234567890')" onbeforesave="update('phone',$data)">
              {{ (client.phone | formatPhoneNumber) || 'empty' }}
            </p>
          </div>
        </div>
      </div>
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Account Details</h4>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Status:
          </div>
          <div class="item-detail pull-left">
            <p class="text-capitalize">
              {{ client.status | lowercase }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Active Time:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ client.active_time }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Date Joined:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ client.date_joined | date : 'd/MM/yyyy' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Gym Membership:
          </div>
          <div class="item-detail pull-left">
            <p class="text-capitalize" editable-checkbox="client.gym_membership" onbeforesave="update('gym_membership',$data)">
              {{ client.gym_membership ? "Yes" : "No" }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left" ng-if="client.gym_membership">
          <div class="item-label pull-left">
            Gym Name:
          </div>
          <div class="item-detail pull-left">
            <!-- <p>
              {{ client.gym_title }}
            </p> -->
            <input vs-google-autocomplete="{ types: ['establishment'],componentRestrictions: { country: 'US' } }"
                 vs-autocomplete-validator
                 ng-model="gym.title"
                 vs-place="gym.place"
                 vs-place-id="gym.place_id"
                 vs-latitude="gym.lat"
                 vs-longitude="gym.lon"
                 type="text" name="gym_title"
                 class="form-control" placeholder="Enter the gym name">
          </div>
        </div>
        <div class="item-row pull-left" ng-if="client.gym_membership">
          <div class="item-label pull-left">
            Gym Address:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ client.gym_location }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Avg. Rating:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ client.avg_rating }}
            </p>
          </div>
        </div>
      </div>
      <login-history ng-if="client_id!=0" userid="client_id" type="client" count="10" initial="5"></login-history>
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Sesssions</h4>
        </div>
        <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              {{ client.sessions.total == null ? 0 : client.sessions.total }}
            </p>
          </div>
        </div>
        <!-- <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of scheduled sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              234
            </p>
          </div>
        </div> -->
        <!-- <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of on-demand sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              120
            </p>
          </div>
        </div> -->
        <!-- <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              367
            </p>
          </div>
        </div> -->
        <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of cancelled sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              {{ client.sessions.cancelled == null ? 0 : client.sessions.cancelled }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total expenditure:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              {{ client.sessions.total_expenditure | centsToDollars | currency : '$' : 2 }}
            </p>
          </div>
        </div>
      </div>
      <session-history ng-if="client_id!=0" userid="client_id" type="client" count="10" initial="5"></session-history>
    </div>
  </div>
</div>
