<!DOCTYPE html>
<div class="col-lg-12 col-md-12 col-sm-12 ngAppPopupDialog nocloseBtnHeader">
	<div class="pop-up-content">
		<div class="popup-header pull-left">
			<h3>{{ header }}</h3>
		</div>
		<div class="content pull-left">
			<p>{{ message }}</p>
		</div>
		<div class="popup-footer pull-left">
			<button class="btn btn-no pull-right" ng-click="confirm()">{{ yes }}</button>
			<button class="btn btn-yes pull-right" ng-click="closeThisDialog()">{{ no }}</button>
		</div>
	</div>
</div>
