<header>
  <div class="container partner-container">
    <div class="branding-wrapper col-lg-4 col-md-2">
      <img src="img/logo.png" width="76" alt="logo"/>
    </div>
    <div class="header-menu-wrapper col-lg-8 col-md-10">
      <ul class="header-menu">
        <li class="sign-out"><a ng-click="page.logout()" style="cursor:pointer;">SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</header>
