<div class="selection-tab pull-left">
  <div class="tab-item" ng-if="page.getPath()=='/sessions'" ng-class="{active:page.getPath().startsWith('/sessions')}">
    Sessions
  </div>
  <div class="tab-item" ng-if="page.getPath()!='/sessions'" style="cursor: pointer;" ng-click="page.redirect('/sessions')" ng-class="{active:page.getPath().startsWith('/sessions')}">
    Sessions
  </div>
  <div class="tab-item" ng-if="page.getPath()=='/clients'" ng-class="{active:page.getPath().startsWith('/clients')}">
    Clients
  </div>
  <div class="tab-item" ng-if="page.getPath()!='/clients'" style="cursor: pointer;" ng-click="page.redirect('/clients')" ng-class="{active:page.getPath().startsWith('/clients')}">
    Clients
  </div>
  <div class="tab-item" ng-if="page.getPath()=='/partners'" ng-class="{active:page.getPath().startsWith('/partners')}">
    Partners
  </div>
  <div class="tab-item" ng-if="page.getPath()!='/partners'" style="cursor: pointer;" ng-click="page.redirect('/partners')" ng-class="{active:page.getPath().startsWith('/partners')}">
    Partners
  </div>
  <div class="tab-item" ng-if="page.getPath()=='/markets'" ng-class="{active:page.getPath().startsWith('/markets')}">
    Markets
  </div>
  <div class="tab-item" ng-if="page.getPath()!='/markets'" style="cursor: pointer;" ng-click="page.redirect('/markets')" ng-class="{active:page.getPath().startsWith('/markets')}">
    Markets
  </div>
  <div class="tab-item" ng-if="page.getPath()=='/areas'" ng-class="{active:page.getPath().startsWith('/areas')}">
    Areas
  </div>
  <div class="tab-item" ng-if="page.getPath()!='/areas'" style="cursor: pointer;" ng-click="page.redirect('/areas')" ng-class="{active:page.getPath().startsWith('/areas')}">
    Areas
  </div>
  <div class="tab-item" ng-if="page.getPath()=='/questionnaire'" ng-class="{active:page.getPath().startsWith('/questionnaire')}">
    Questionnaire
  </div>
  <div class="tab-item" ng-if="page.getPath()!='/questionnaire'" style="cursor: pointer;" ng-click="page.redirect('/questionnaire')" ng-class="{active:page.getPath().startsWith('/questionnaire')}">
    Questionnaire
  </div>
</div>