<div class="container">
  <form name="signInForm" ng-submit="signin(signInForm.$valid)" class="sign-in-wrapper" novalidate>
    <h3>Please Sign In</h3>
    <div class="form-wrapper">
      <div class="form-group" ng-class="{'has-error':signInForm.username.$invalid && signInForm.username.$dirty}">
        <input name="username" type="text" ng-model="signinObj.username" class="form-control" ng-required="true" ng-disabled="signinObj.stage==2 || submittingForm" placeholder="username"/>
      </div>
      <div class="form-group" ng-if="signinObj.stage==2" ng-class="{'has-error':signInForm.pin.$invalid && signInForm.pin.$dirty}">
        <input name="pin" type="password" ng-model="signinObj.pin" class="form-control" placeholder="4 digit pin" ng-required="true" ng-disabled="submittingForm" mask='9999' mask-restrict='reject' mask-validate='true' mask-limit='true'  />
      </div>
      <button class="btn login" type="submit" ng-disabled="submittingForm || !signInForm.$valid">{{ signinObj.stage==1?'Get Pin':'Sign in' }}</button>
    </div>
  </form>
</div>
<div class="copyright text-center">
  <p>
    &copy; Example
  </p>
</div>