<div class="item-info pull-left">
  <div class="item-row pull-left">
    <h4>Login History</h4>
  </div>
  <div class="header-row pull-left">
    <div class="header-item date pull-left">
      DATE
    </div>
    <div class="header-item from pull-left">
      LOGGED IN FROM
    </div>
  </div>
  <div class="row-wrapper">
    <div class="item-row pull-left" ng-repeat="historyItem in loginHistory">
      <div class="item-label login pull-left">
        {{ historyItem.date | date : 'MM/dd/yyyy' }}
      </div>
      <div class="item-detail login pull-left">
        <p>
          {{ historyItem.device }}
        </p>
      </div>
    </div>
  </div>
  <div class="load-more pull-left" ng-click="loadMore()" style="cursor: pointer;"  ng-if="hasMoreData && !searchOnProgress">
    <p class="text-center">
      LOAD MORE <span class="caret"></span>
    </p>
  </div>
  <div class="load-more pull-left" style="cursor: wait;" ng-if="hasMoreData && searchOnProgress">
    <p class="text-center">
      LOADING...
    </p>
  </div>
</div>
