<div class="item-info pull-left">
  <div class="item-row pull-left">
    <h4>Session History</h4>
  </div>
  <div class="header-row pull-left">
    <div class="header-item id pull-left">
      SESSION ID
    </div>
    <div class="header-item name-history pull-left">
      {{ type=='partner'?'CLIENT':'PARTNER' }} NAME
    </div>
    <div class="header-item pull-left">
      DATE
    </div>
  </div>
  <div class="row-wrapper">
    <div class="item-row pull-left" ng-repeat="sessionItem in sessionHistory" ng-click="page.redirect('/sessions/'+sessionItem.session_id)">
      <div class="item-label id pull-left">
        {{ sessionItem.session_id }}
      </div>
      <div class="item-detail name-history pull-left">
        <p>
          {{ sessionItem.partner_name }}
        </p>
      </div>
      <div class="item-detail date-history pull-left">
        <p>
          {{ sessionItem.date | date : 'MM/dd/yyyy' }}
        </p>
      </div>
    </div>
  </div>
  <div class="load-more pull-left" ng-click="loadMore()" style="cursor: pointer;"  ng-if="hasMoreData && !searchOnProgress">
    <p class="text-center">
      LOAD MORE <span class="caret"></span>
    </p>
  </div>
  <div class="load-more pull-left" style="cursor: wait;" ng-if="hasMoreData && searchOnProgress">
    <p class="text-center">
      LOADING...
    </p>
  </div>
</div>
