/*general style sheet*/
a.pointer {
  cursor: pointer !important; }

button:focus {
  outline: 0 !important;
  color: #fff !important; }

.col-centered {
  float: none;
  margin: 0 auto; }

/*header-section-styles*/
#header {
  padding-top: 50px; }
  @media (max-width: 767px) {
    #header {
      padding-top: 25px; } }
  @media (max-width: 767px) {
    #header .branding-wrapper img {
      width: 61px; } }
  #header .header-menu-wrapper ul.header-menu {
    float: right; }
    @media (max-width: 1199px) {
      #header .header-menu-wrapper ul.header-menu {
        padding-left: 0; } }
    @media (max-width: 767px) {
      #header .header-menu-wrapper ul.header-menu {
        padding-left: 13px; } }
    #header .header-menu-wrapper ul.header-menu li {
      float: left;
      list-style: none;
      margin: 0 30px; }
      @media (max-width: 1199px) {
        #header .header-menu-wrapper ul.header-menu li {
          margin: 0 16px; } }
      @media (max-width: 991px) {
        #header .header-menu-wrapper ul.header-menu li {
          margin: 0 14px; } }
      @media (max-width: 767px) {
        #header .header-menu-wrapper ul.header-menu li {
          margin: 0 12px; } }
      @media (max-width: 361px) {
        #header .header-menu-wrapper ul.header-menu li {
          margin: 0 5px; } }
      #header .header-menu-wrapper ul.header-menu li:first-child {
        margin-left: 0; }
      @media (max-width: 767px) {
        #header .header-menu-wrapper ul.header-menu li:nth-child(2) {
          margin-right: 0; } }
      #header .header-menu-wrapper ul.header-menu li:nth-child(3) {
        margin-right: 0;
        margin-left: 16px; }
        @media (max-width: 1199px) {
          #header .header-menu-wrapper ul.header-menu li:nth-child(3) {
            margin-left: 0; } }
      #header .header-menu-wrapper ul.header-menu li:last-child {
        margin-left: 16px;
        margin-right: 0; }
        @media (max-width: 767px) {
          #header .header-menu-wrapper ul.header-menu li:last-child {
            margin-left: 12px; } }
        @media (max-width: 361px) {
          #header .header-menu-wrapper ul.header-menu li:last-child {
            margin-left: 6px; } }
      #header .header-menu-wrapper ul.header-menu li a {
        color: #fff;
        font-size: 19px; }
        @media (max-width: 992px) {
          #header .header-menu-wrapper ul.header-menu li a {
            font-size: 13px; } }
        @media (max-width: 767px) {
          #header .header-menu-wrapper ul.header-menu li a {
            font-size: 14px; } }
        @media (max-width: 361px) {
          #header .header-menu-wrapper ul.header-menu li a {
            font-size: 13px; } }
        #header .header-menu-wrapper ul.header-menu li a:hover {
          text-decoration: underline; }
    #header .header-menu-wrapper ul.header-menu li.sign-out a {
      color: #505354;
      font-size: 16px; }
    #header .header-menu-wrapper ul.header-menu li.button {
      margin-top: -8px; }
      #header .header-menu-wrapper ul.header-menu li.button a button {
        height: 45px;
        width: 191.2px; }
        @media (max-width: 991px) {
          #header .header-menu-wrapper ul.header-menu li.button a button {
            width: 190px; } }
        #header .header-menu-wrapper ul.header-menu li.button a button:focus {
          color: #fff; }

/*menu empty page*/
body.sub-page-menu-empty {
  background-color: #f7f7f7; }
  body.sub-page-menu-empty #header {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top: 20px; }
    body.sub-page-menu-empty #header .header-menu {
      margin: 3px 0 0; }

body.partners {
  background-color: #eff7f9; }
  body.partners .partner-container {
    padding: 0;
    width: 1350px; }
    @media (max-width: 1367px) {
      body.partners .partner-container {
        width: 1320px; } }
    @media (max-width: 1281px) {
      body.partners .partner-container {
        width: 1250px; } }
  body.partners .selection-tab {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    margin-top: 46px;
    width: 226px; }
    @media (max-width: 1367px) {
      body.partners .selection-tab {
        width: 210px; } }
    @media (max-width: 1281px) {
      body.partners .selection-tab {
        width: 180px; } }
    body.partners .selection-tab .tab-item {
      border-bottom: solid 0.6px rgba(0, 0, 0, 0.05);
      color: #004d4c;
      cursor: pointer;
      font-size: 16px;
      height: 47px;
      line-height: 47px;
      padding: 0 15px;
      width: 100%; }
      body.partners .selection-tab .tab-item:last-child {
        border: 0 none; }
      body.partners .selection-tab .tab-item:last-child.active {
        border-radius: 0 0 8px 8px; }
      body.partners .selection-tab .tab-item:first-child.active {
        border-radius: 8px 8px 0 0; }
      body.partners .selection-tab .tab-item:hover {
        background-color: #f7fdff;
        color: #3eb7b3; }
      body.partners .selection-tab .tab-item:first-child:hover {
        border-radius: 8px 8px 0 0; }
      body.partners .selection-tab .tab-item:last-child:hover {
        border-radius: 0 0 8px 8px; }
    body.partners .selection-tab .tab-item.active {
      background-color: #f7fdff;
      color: #3eb7b3;
      cursor: default;
      position: relative; }
      body.partners .selection-tab .tab-item.active:after {
        background-image: url(../../img/arrow.png);
        background-size: cover;
        content: "";
        display: block;
        height: 13.5px;
        width: 18.7px;
        position: absolute;
        top: 17px;
        right: 17px; }
  body.partners .right-content {
    margin-bottom: 46px;
    margin-top: 46px;
    width: 1092px; }
    @media (max-width: 1281px) {
      body.partners .right-content {
        width: 1055px; } }
    body.partners .right-content .right-top-section {
      width: 100%; }
      body.partners .right-content .right-top-section h3 {
        color: #004d4c;
        font-size: 32px;
        margin: 0; }
        body.partners .right-content .right-top-section h3 a, body.partners .right-content .right-top-section h3 span {
          color: #5e8585;
          font-size: 32px; }
        body.partners .right-content .right-top-section h3 a {
          cursor: pointer; }
      body.partners .right-content .right-top-section .form-group {
        margin: 0;
        position: relative; }
        body.partners .right-content .right-top-section .form-group .form-control {
          background-color: rgba(0, 0, 0, 0.03);
          border: 0 none;
          border-radius: 8px;
          height: 38px;
          padding-left: 40px;
          width: 366px; }
          body.partners .right-content .right-top-section .form-group .form-control:focus {
            background-color: #fff; }
        body.partners .right-content .right-top-section .form-group:before {
          background-image: url("../../img/search.png");
          background-size: cover;
          background-position: center;
          content: "";
          display: block;
          height: 14px;
          width: 13.7px;
          position: absolute;
          top: 12px;
          left: 14px; }
      body.partners .right-content .right-top-section .btn-group {
        margin-right: 12px;
        width: 214px; }
        body.partners .right-content .right-top-section .btn-group button {
          background-color: #ffffff;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
          color: #414b4b;
          font-size: 16px;
          height: 38px;
          width: 100%; }
          body.partners .right-content .right-top-section .btn-group button:focus {
            color: #414b4b !important; }
        body.partners .right-content .right-top-section .btn-group .dropdown-menu {
          margin-top: 10px;
          padding: 0;
          width: 100%; }
          body.partners .right-content .right-top-section .btn-group .dropdown-menu li {
            border-bottom: solid 0.6px rgba(0, 0, 0, 0.12); }
            body.partners .right-content .right-top-section .btn-group .dropdown-menu li a {
              height: 48px;
              line-height: 48px;
              padding: 0 12px; }
            body.partners .right-content .right-top-section .btn-group .dropdown-menu li:first-child a:hover {
              border-radius: 4px 4px 0 0; }
            body.partners .right-content .right-top-section .btn-group .dropdown-menu li:last-child {
              border: 0 none; }
              body.partners .right-content .right-top-section .btn-group .dropdown-menu li:last-child a:hover {
                border-radius: 0 0 4px 4px; }
      body.partners .right-content .right-top-section .btn-group.open button {
        background-color: #eaeff0;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12); }
      body.partners .right-content .right-top-section .btn-create {
        background-color: #08bee7;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        font-size: 18px;
        height: 45px;
        padding: 0 24px;
        transition: .2s; }
        body.partners .right-content .right-top-section .btn-create:hover, body.partners .right-content .right-top-section .btn-create:focus {
          box-shadow: 3px 2px 6px 1px rgba(0, 0, 0, 0.12); }
    body.partners .right-content .right-top-section.q-section .btn-group {
      margin-left: 15px;
      width: 124px; }
      body.partners .right-content .right-top-section.q-section .btn-group button {
        text-align: left; }
      body.partners .right-content .right-top-section.q-section .btn-group .caret {
        position: absolute;
        top: 17px;
        right: 10px; }
    body.partners .right-content .map-section {
      height: 335px;
      margin-bottom: 30px;
      margin-top: 35px;
      width: 100%; }
    body.partners .right-content .content-wrapper {
      margin-top: 28px;
      width: 100%; }
      body.partners .right-content .content-wrapper .table-header {
        background-color: #ecf1f2;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        height: 43px;
        padding: 0 27px;
        width: 100%; }
        body.partners .right-content .content-wrapper .table-header .header-item {
          color: #414b4b;
          font-size: 14px;
          line-height: 43px;
          letter-spacing: 2px; }
      body.partners .right-content .content-wrapper .table-content-wrapper {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        max-height: 598px;
        overflow: auto;
        width: 100%; }
        body.partners .right-content .content-wrapper .table-content-wrapper .table-item {
          background-color: #fff;
          border-bottom: solid 0.6px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          height: 48px;
          padding: 0 27px;
          width: 100%; }
          body.partners .right-content .content-wrapper .table-content-wrapper .table-item:hover {
            background-color: #f7fdff; }
          body.partners .right-content .content-wrapper .table-content-wrapper .table-item:last-child {
            border: 0 none; }
          body.partners .right-content .content-wrapper .table-content-wrapper .table-item .row-item {
            color: #414b4b;
            font-size: 16px;
            line-height: 48px; }
        body.partners .right-content .content-wrapper .table-content-wrapper .table-item.questionnaire-item-row {
          height: auto;
          min-height: 48px; }
          body.partners .right-content .content-wrapper .table-content-wrapper .table-item.questionnaire-item-row .row-item.questionnaire-item {
            line-height: 2.9; }
      body.partners .right-content .content-wrapper .id {
        width: 144px; }
      body.partners .right-content .content-wrapper .name {
        width: 361px; }
      body.partners .right-content .content-wrapper .first-name {
        width: 180px; }
      body.partners .right-content .content-wrapper .last-name {
        width: 180px; }
      body.partners .right-content .content-wrapper .name-history {
        width: 375px; }
      body.partners .right-content .content-wrapper .mail {
        width: 362px; }
      body.partners .right-content .content-wrapper .name-partner {
        width: 214px; }
      body.partners .right-content .content-wrapper .mail-partner {
        width: 357px; }
      body.partners .right-content .content-wrapper .mail-partner-1 {
        width: 152px; }
      body.partners .right-content .content-wrapper .pay-date {
        width: 144px; }
      body.partners .right-content .content-wrapper .pay-name {
        width: 271px; }
      body.partners .right-content .content-wrapper .pay-acc {
        width: 252px; }
      body.partners .right-content .content-wrapper .pay-rou {
        width: 236px; }
      body.partners .right-content .content-wrapper .mar-name {
        width: 155px; }
      body.partners .right-content .content-wrapper .mar-session {
        width: 162px; }
      body.partners .right-content .content-wrapper .mar-book {
        width: 170px; }
      body.partners .right-content .content-wrapper .mar-can {
        width: 163px; }
      body.partners .right-content .content-wrapper .mar-gym {
        width: 170px; }
      body.partners .right-content .content-wrapper .area-date {
        width: 144px; }
      body.partners .right-content .content-wrapper .area-loc {
        width: 321px; }
      body.partners .right-content .content-wrapper .area-radius {
        width: 202px; }
      body.partners .right-content .content-wrapper .area-type {
        width: 189px; }
      body.partners .right-content .content-wrapper .questionnaire-item {
        width: 867px; }
        @media (max-width: 1281px) {
          body.partners .right-content .content-wrapper .questionnaire-item {
            width: 855px; } }
      body.partners .right-content .content-wrapper .load-more {
        background-color: #f5f5f5;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        height: 43px;
        line-height: 43px;
        width: 100%; }
        body.partners .right-content .content-wrapper .load-more p {
          color: #788b8a;
          font-size: 16px;
          margin: 0; }
          body.partners .right-content .content-wrapper .load-more p .caret {
            border-top: 6px dashed;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            margin-top: -4px; }
      body.partners .right-content .content-wrapper .btn-remove, body.partners .right-content .content-wrapper .btn-edit {
        border-radius: 4.8px;
        font-size: 13px;
        height: 31.2px;
        margin-top: 8px; }
      body.partners .right-content .content-wrapper .btn-remove {
        background-color: #ff6363;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        margin-left: 8.6px;
        padding: 0 14px; }
      body.partners .right-content .content-wrapper .btn-edit {
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        border: solid 0.5px rgba(0, 0, 0, 0.12);
        color: #414b4b;
        padding: 0 16px; }
        body.partners .right-content .content-wrapper .btn-edit:focus {
          color: #414b4b !important; }
      body.partners .right-content .content-wrapper .item-info {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 13px;
        width: 100%; }
        body.partners .right-content .content-wrapper .item-info .row-wrapper {
          float: left;
          max-height: 265px;
          overflow: auto; }
        body.partners .right-content .content-wrapper .item-info .item-row {
          border-bottom: solid 0.6px rgba(0, 0, 0, 0.12);
          min-height: 53px;
          padding: 15px 28px;
          width: 100%; }
          body.partners .right-content .content-wrapper .item-info .item-row:last-child {
            border: 0 none; }
          body.partners .right-content .content-wrapper .item-info .item-row h4 {
            color: #414b4b;
            font-size: 18px;
            margin: 0; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-label {
            color: #414b4b;
            text-align: right;
            width: 161px; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-label.login {
            text-align: left;
            width: 204px; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-label.sessions {
            width: 232px; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-label.id {
            text-align: left;
            width: 144px; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-label.type {
            text-align: left;
            width: 204px; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-detail {
            padding-left: 16px;
            width: calc(100% - 165px); }
            body.partners .right-content .content-wrapper .item-info .item-row .item-detail a {
              color: #3eb7b3;
              cursor: pointer; }
            body.partners .right-content .content-wrapper .item-info .item-row .item-detail p {
              color: #788b8a;
              margin: 0; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-detail.login {
            padding-left: 0;
            width: calc(100% - 205px); }
          body.partners .right-content .content-wrapper .item-info .item-row .item-detail.sessions {
            width: calc(100% - 232px); }
          body.partners .right-content .content-wrapper .item-info .item-row .item-detail.name-history {
            padding-left: 0;
            width: 375px; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-detail.date-history {
            padding-left: 0;
            width: auto; }
          body.partners .right-content .content-wrapper .item-info .item-row .item-detail.session-count {
            padding-left: 0;
            width: auto; }
        body.partners .right-content .content-wrapper .item-info .header-row {
          background-color: #ecf1f2;
          height: 43px;
          padding-left: 27px;
          width: 100%; }
          body.partners .right-content .content-wrapper .item-info .header-row .header-item {
            color: #414b4b;
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 43px; }
          body.partners .right-content .content-wrapper .item-info .header-row .date {
            width: 204px; }
          body.partners .right-content .content-wrapper .item-info .header-row .type {
            width: 204px; }
    body.partners .right-content .empty-state {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      height: 341px;
      margin-top: 28px;
      width: 100%; }
      body.partners .right-content .empty-state i {
        background-image: url("../../img/empty-box.png");
        background-size: cover;
        background-position: center;
        display: block;
        height: 60.8px;
        margin: 104.1px auto 21px;
        width: 77px; }
      body.partners .right-content .empty-state p {
        color: #788b8a;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 500; }

.sign-in-wrapper {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 150px auto 0;
  padding: 25px;
  width: 450px; }
  .sign-in-wrapper h3 {
    margin: 0 0 20px; }
  .sign-in-wrapper .form-wrapper .form-group .form-control {
    font-size: 16px;
    height: 40px; }
  .sign-in-wrapper .form-wrapper button.login {
    background-color: #3eb7b3;
    color: #fff;
    font-size: 16px;
    height: 40px;
    width: 100%; }

.copyright {
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding-top: 30px; }

.ngdialog.info .ngdialog-content {
  margin: 83px auto 0;
  position: relative;
  width: 607px; }
  .ngdialog.info .ngdialog-content .ngAppPopupDialog {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 0; }
  .ngdialog.info .ngdialog-content .popup-header {
    border-bottom: solid 0.6px rgba(0, 0, 0, 0.12);
    height: 64px;
    padding: 0 20px;
    width: 100%; }
    .ngdialog.info .ngdialog-content .popup-header h3 {
      color: #414b4b;
      font-size: 24px;
      line-height: 64px;
      margin: 0; }
  .ngdialog.info .ngdialog-content .content {
    padding: 7px 20px;
    width: 100%; }
    .ngdialog.info .ngdialog-content .content p {
      color: #788b8a;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 27px; }
    .ngdialog.info .ngdialog-content .content label {
      color: #788b8a;
      font-size: 18px;
      font-weight: 400;
      margin: 7px 0 0;
      width: 83px; }
    .ngdialog.info .ngdialog-content .content .form-group {
      margin-bottom: 25px; }
      .ngdialog.info .ngdialog-content .content .form-group .form-control {
        border: solid 0.6px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
        font-size: 18px;
        height: 45px; }
    .ngdialog.info .ngdialog-content .content .location {
      margin-top: 11px;
      width: 100%; }
      .ngdialog.info .ngdialog-content .content .location .form-group {
        margin-bottom: 20px;
        width: 414px; }
    .ngdialog.info .ngdialog-content .content .location.createM label {
      width: 213px; }
    .ngdialog.info .ngdialog-content .content .location.createM .form-group {
      width: 314px; }
    .ngdialog.info .ngdialog-content .content .radius .form-group {
      width: 113px; }
    .ngdialog.info .ngdialog-content .content .type label {
      width: 69px; }
    .ngdialog.info .ngdialog-content .content .type .form-group {
      width: 98px; }
  .ngdialog.info .ngdialog-content .popup-footer {
    padding: 0 20px;
    width: 100%; }
    .ngdialog.info .ngdialog-content .popup-footer button {
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      font-size: 19px;
      height: 52px;
      margin-bottom: 20px;
      margin-left: 14px;
      padding: 0;
      width: 194px; }
    .ngdialog.info .ngdialog-content .popup-footer button.btn-yes {
      background-color: #ffffff;
      border: solid 0.6px rgba(0, 0, 0, 0.12);
      color: #414b4b; }
      .ngdialog.info .ngdialog-content .popup-footer button.btn-yes:focus {
        color: #414b4b !important; }
    .ngdialog.info .ngdialog-content .popup-footer button.btn-no {
      background-color: #08bee7;
      color: #ffffff; }

.ngdialog.info.editArea .ngdialog-content, .ngdialog.info.addArea .ngdialog-content {
  width: 537px; }

.ngdialog.info.createMarket .ngdialog-content {
  width: 567px; }

.ngdialog.info.addQuestion .ngdialog-content {
  width: 862px; }
  .ngdialog.info.addQuestion .ngdialog-content .content {
    padding-top: 18px;
    padding-bottom: 25px; }
    .ngdialog.info.addQuestion .ngdialog-content .content .q-row {
      width: 100%; }
    .ngdialog.info.addQuestion .ngdialog-content .content label {
      width: 213px; }
    .ngdialog.info.addQuestion .ngdialog-content .content .q-main {
      width: 609px; }
    .ngdialog.info.addQuestion .ngdialog-content .content .q-item {
      width: 547px; }
    .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper {
      position: relative;
      height: 45px;
      width: 45px; }
      .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper label {
        width: auto; }
      .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper input[type=checkbox], .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper input[type=radio] {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0; }
      .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper .styled-checkbox + label:before {
        position: absolute;
        top: 0px;
        left: -30px; }
      .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
        width: 45px;
        height: 45px;
        margin: 0 !important;
        left: -30px;
        top: 0; }
        .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper .styled-checkbox + label {
          position: relative;
          cursor: pointer;
          padding: 0;
          margin: 0;
          top: -18px; }
        .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper .styled-checkbox + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 45px;
          height: 45px;
          background: white;
          border: 1px solid rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
          border-radius: 8px;
          position: absolute;
          left: 0;
          top: 1px; }
        .ngdialog.info.addQuestion .ngdialog-content .content .radio-wrapper .styled-checkbox:checked + label:before {
          background-image: url(../../img/check.png);
          width: 45px;
          height: 45px;
          background-size: cover;
          border: 0; }

.pac-container.pac-logo {
  z-index: 20000 !important; }

/*# sourceMappingURL=styles.css.map */
