<div class="col-lg-12 col-md-12 col-sm-12 ngAppPopupDialog nocloseBtnHeader">
  <form name="frm" novalidate>
  	<div class="pop-up-content">
      <div class="popup-header pull-left">
        <h3>{{market.id===0?'Create':'Edit'}} Market</h3>
      </div>
      <div class="content pull-left">
        <div class="location createM">
          <label class="pull-left">Market name</label>
          <div class="form-group pull-left">
            <input type="text" name="name" ng-model="market.name" ng-required="true" ng-maxlength="12" maxlength="12" class="form-control pull-left" placeholder="Enter a name for your market" style="{{(frm.name.$invalid && frm.name.$dirty)?'border-color: red;':''}}" />
          </div>
        </div>
        <div class="location createM">
          <label class="pull-left">Session fee</label>
          <div class="form-group pull-left">
            <input type="number" style="{{(frm.session_fee.$invalid && frm.session_fee.$dirty)?'border-color: red;':''}}" name="session_fee" ng-model="market.session_fee" step=".01" min="0" ng-required="true" class="form-control pull-left" placeholder="Enter session fee"/>
          </div>
        </div>
        <div class="location createM">
          <label class="pull-left">Booking fee</label>
          <div class="form-group pull-left">
            <input type="number" style="{{(frm.booking_fee.$invalid && frm.booking_fee.$dirty)?'border-color: red;':''}}" name="booking_fee" ng-model="market.booking_fee" step=".01" min="0" ng-required="true" class="form-control pull-left" placeholder="Enter booking fee"/>
          </div>
        </div>
        <div class="location createM">
          <label class="pull-left">Cancellation fee</label>
          <div class="form-group pull-left">
            <input  type="number" style="{{(frm.cancellation_fee.$invalid && frm.cancellation_fee.$dirty)?'border-color: red;':''}}" name="cancellation_fee" ng-model="market.cancellation_fee" step=".01" min="0" ng-required="true" class="form-control pull-left" placeholder="Enter cancellation fee"/>
          </div>
        </div>
        <div class="location createM">
          <label class="pull-left">No gym membership fee</label>
          <div class="form-group pull-left">
            <input  type="number" style="{{(frm.no_gym_fee.$invalid && frm.no_gym_fee.$dirty)?'border-color: red;':''}}" name="no_gym_fee" ng-model="market.no_gym_fee" step=".01" min="0" ng-required="true" class="form-control pull-left" placeholder="Enter no membership fee"/>
          </div>
        </div>
      </div>
      <div class="popup-footer pull-left">
        <button class="btn btn-no pull-right" style="width: 164px;" ng-disabled="frm.$invalid || saving" ng-click="save(market,frm)">{{market.id===0?'Add':'Save'}} Market</button>
        <button class="btn btn-yes pull-right" style="width: 144px;" ng-disabled="saving" ng-click="closeThisDialog()">Cancel</button>
      </div>
  	</div>
  </form>
</div>