<div class="container partner-container">

  <!-- Left selection tab -->
  <div ng-include include-replace src="'partials/left_tab.html'"></div>

  <!-- Right content section -->
  <div class="right-content pull-right">
    <div class="right-top-section pull-left">
      <h3 class="pull-left">Markets</h3>
      <button class="btn btn-create pull-right" ng-click="addEditMarket()">+ Create Market</button>
    </div>
    <div ng-if="(markets.length == 0 && !loading)" class="empty-state text-center pull-left">
      <i></i>
      <p>
        Couldn’t find anything related.
      </p>
      <!-- <p class="small">
        Please try again with a different search term
      </p> -->
    </div>
    <div ng-if="!(markets.length == 0 && !loading)" class="content-wrapper pull-left">
      <div class="table-header pull-left">
        <div class="header-item mar-name pull-left">
          NAME
        </div>
        <div class="header-item mar-session pull-left">
          SESSION FEE
        </div>
        <div class="header-item mar-book pull-left">
          BOOKING FEE
        </div>
        <div class="header-item mar-can pull-left">
          CANCE. FEE
        </div>
        <div class="header-item mar-gym pull-left">
          NO GYM MEM. FEE
        </div>
      </div>
      <div ng-if="markets.length !== 0" class="table-content-wrapper pull-left">
        <div class="table-item pull-left" ng-repeat="market in markets | orderBy: 'name.toLowerCase()'">
          <div class="row-item mar-name pull-left">
            {{ market.name }}
          </div>
          <div class="row-item mar-session pull-left">
            {{ market.session_fee | centsToDollars | currency : '$' : 2 }}
          </div>
          <div class="row-item mar-book pull-left">
            {{ market.booking_fee | centsToDollars | currency : '$' : 2 }}
          </div>
          <div class="row-item mar-can pull-left">
            {{ market.cancellation_fee | centsToDollars | currency : '$' : 2 }}
          </div>
          <div class="row-item mar-gym pull-left">
            {{ market.no_gym_fee | centsToDollars | currency : '$' : 2 }}
          </div>
          <div class="row-item mar-btn-sec pull-right">
            <button class="btn btn-remove pull-right" ng-click="deleteMarket(market)">Remove</button>
            <button class="btn btn-edit pull-right" ng-click="addEditMarket(market)">Edit</button>
          </div>
        </div>
      </div>
      <div class="load-more pull-left" style="cursor: wait;" ng-if="loading">
        <p class="text-center">
          LOADING...
        </p>
      </div>
    </div>
  </div>
</div>