<div class="col-lg-12 col-md-12 col-sm-12 ngAppPopupDialog nocloseBtnHeader">
	<form name="frm" novalidate>
		<div class="pop-up-content">
	      <div class="popup-header pull-left">
	      	<h3>{{question.id===0?'Add a':'Edit'}} Question</h3>
	      </div>
	      <div class="content pull-left">
	      	<!-- {{ question }} -->
	        <div class="q-row pull-left">
	          <label class="pull-left">Question</label>
	          <div class="form-group q-main pull-left">
	            <input type="text" class="form-control" placeholder="Enter question" name="question" ng-model="question.question" ng-required="true" ng-maxlength="500" maxlength="500" style="{{(frm.question.$invalid && frm.question.$dirty)?'border-color: red;':''}}" />
	          </div>
	        </div>
	        <div class="q-row pull-left">
	          <label class="pull-left">Answer 01</label>
	          <div class="form-group q-item pull-left">
	            <input type="text" class="form-control" placeholder="Enter answer 01" name="answer_1" ng-model="question.answer_1" ng-required="true" ng-maxlength="200" maxlength="200" style="{{(frm.answer_1.$invalid && frm.answer_1.$dirty)?'border-color: red;':''}}" />
	          </div>
	          <div class="radio-wrapper pull-right">
	          	<input type="radio" tabindex="-1" ng-model="question.correct_answer" name="correct_answer" ng-value="1" class="styled-checkbox">
	            <label for="correct_answer"><span></span></label>
	          </div>
	        </div>
	        <div class="q-row pull-left">
	          <label class="pull-left">Answer 02</label>
	          <div class="form-group q-item pull-left">
	            <input type="text" class="form-control" placeholder="Enter answer 02" name="answer_2" ng-model="question.answer_2" ng-required="true" ng-maxlength="200" maxlength="200" style="{{(frm.answer_2.$invalid && frm.answer_2.$dirty)?'border-color: red;':''}}" />
	          </div>
	          <div class="radio-wrapper pull-right">
	            <input type="radio" tabindex="-1" ng-model="question.correct_answer" name="correct_answer" ng-value="2" class="styled-checkbox">
	            <label for="correct_answer"><span></span></label>
	          </div>
	        </div>
	        <div class="q-row pull-left">
	          <label class="pull-left">Answer 03</label>
	          <div class="form-group q-item pull-left">
	            <input type="text" class="form-control" placeholder="Enter answer 03" name="answer_3" ng-model="question.answer_3" ng-required="true" ng-maxlength="200" maxlength="200" style="{{(frm.answer_3.$invalid && frm.answer_3.$dirty)?'border-color: red;':''}}" />
	          </div>
	          <div class="radio-wrapper pull-right">
	            <input type="radio" tabindex="-1" ng-model="question.correct_answer" name="correct_answer" ng-value="3" class="styled-checkbox">
	            <label for="correct_answer"><span></span></label>
	          </div>
	        </div>
	        <div class="q-row pull-left">
	          <label class="pull-left">Answer 04</label>
	          <div class="form-group q-item pull-left">
	            <input type="text" class="form-control" placeholder="Enter answer 04" name="answer_4" ng-model="question.answer_4" ng-required="true" ng-maxlength="200" maxlength="200" style="{{(frm.answer_4.$invalid && frm.answer_4.$dirty)?'border-color: red;':''}}" />
	          </div>
	          <div class="radio-wrapper pull-right">
	            <input type="radio" tabindex="-1" ng-model="question.correct_answer" name="correct_answer" ng-value="4" class="styled-checkbox">
	            <label for="correct_answer"><span></span></label>
	          </div>
	        </div>
	      </div>
	      <div class="popup-footer pull-left">
	        <button class="btn btn-no pull-right" style="width: 179px;" ng-disabled="frm.$invalid || saving" ng-click="save()">{{question.id===0?'Add':'Save'}} Question</button>
	        <button class="btn btn-yes pull-right" style="width: 144px;" ng-click="closeThisDialog()">Cancel</button>
	      </div>
		</div>
	</form>
</div>
