<div class="container partner-container">

  <!-- Left selection tab -->
  <div ng-include include-replace src="'partials/left_tab.html'"></div>

  <!-- Right content section -->
  <div class="right-content pull-right">
    <div class="right-top-section q-section pull-left">
      <h3 class="pull-left">Questionnaire</h3>
      <button class="btn btn-create pull-right" ng-click="addEditQuestion()">+ Add a Question</button>
    </div>
    <div ng-if="(questions.length == 0 && !loading)" class="empty-state text-center pull-left">
      <i></i>
      <p>
        Couldn’t find any questions.
      </p>
      <!-- <p class="small">
        Please try again with a different search term
      </p> -->
    </div>
    <div ng-if="!(questions.length == 0 && !loading)" class="content-wrapper pull-left">
      <div class="table-header pull-left">
        <div class="header-item area-date pull-left">
          QUESTION
        </div>
      </div>
      <div class="table-content-wrapper pull-left">
        <div ng-repeat="question in questions | orderBy: 'question.toLowerCase()'" class="table-item questionnaire-item-row pull-left">
          <div class="row-item questionnaire-item pull-left">
            {{ question.question }}
          </div>
          <div class="row-item mar-btn-sec pull-right">
            <button class="btn btn-remove pull-right" ng-click="deleteQuestion(question)">Remove</button>
            <button class="btn btn-edit pull-right" ng-click="addEditQuestion(question)">Edit</button>
          </div>
        </div>
      </div>
      <div class="load-more pull-left" style="cursor: wait;" ng-if="loading">
        <p class="text-center">
          LOADING...
        </p>
      </div>
    </div>
  </div>
</div>
