<div class="col-lg-12 col-md-12 col-sm-12 ngAppPopupDialog nocloseBtnHeader">
	<form name="frm" novalidate>
    <div class="pop-up-content">
      <div class="popup-header pull-left">
        <h3>{{area.id===0?'Create':'Edit'}} Area</h3>
      </div>
      <div class="content pull-left">
        <!-- {{ area }} {{ editMode }} -->
        <div class="location">
          <label class="pull-left">Location</label>
          <div ng-if="area.id===0" class="form-group pull-left">
            <input vs-google-autocomplete="{ types: ['address'],componentRestrictions: { country: 'US' } }"
                 vs-autocomplete-validator
                 ng-model="area.location_name"
                 vs-latitude="area.location.lat"
                 vs-longitude="area.location.lon"
                 type="text" name="location" autofocus="true" 
                 class="form-control pull-left" placeholder="Enter name of location" style="{{(frm.location.$invalid && frm.location.$dirty)?'border-color: red;':''}}">
          </div>
          <div ng-if="area.id!==0" class="form-group pull-left">
            <input ng-if="editMode" vs-google-autocomplete="{ types: ['address'],componentRestrictions: { country: 'US' } }"
                 vs-autocomplete-validator
                 ng-model="area.location_name"
                 vs-latitude="area.location.lat"
                 vs-longitude="area.location.lon"
                 type="text" name="location"
                 class="form-control pull-left" placeholder="Enter name of location" style="{{(frm.location.$invalid && frm.location.$dirty)?'border-color: red;':''}}">
            <div ng-click="toggle()" ng-if="!editMode" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 32px;" 
                 class="form-control pull-left" placeholder="Enter name of location" style="{{(frm.location.$invalid && frm.location.$dirty)?'border-color: red;':''}}">{{ area.location_name }}</div>
          </div>
        </div>
        <div class="form-group radius pull-left">
          <label class="pull-left">Radius</label>
          <div class="form-group pull-left">
            <input type="number" name="radius" ng-model="area.radius" step="1" min="1" ng-required="true" placeholder="Miles" class="form-control pull-left" style="{{(frm.radius.$invalid && frm.radius.$dirty)?'border-color: red;':''}}" />
          </div>
        </div>
        <div class="form-group type pull-right">
          <label class="pull-left">Type</label>
          <div class="form-group pull-left">
            <select name="market_id" ng-model="area.market_id" ng-required="true" style="{{(frm.market_id.$invalid && frm.market_id.$dirty)?'border-color: red;':''}}" class="form-control pull-left">
              <option ng-repeat="market in markets" ng-value="market.id">{{market.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="popup-footer pull-left">
        <button class="btn btn-no pull-right" style="width: 182px;" ng-disabled="frm.$invalid || saving" ng-click="save(area)">{{area.id===0?'Add Area':'Save Changes'}}</button>
        <button class="btn btn-yes pull-right" style="width: 144px;" ng-click="closeThisDialog()">Cancel</button>
      </div>
  	</div>
  </form>
</div>
