<div class="container partner-container">

  <!-- Left selection tab -->
  <div ng-include include-replace src="'partials/left_tab.html'"></div>

  <!-- Right content section -->
  <div class="right-content pull-right">
    <div class="right-top-section pull-left">
      <h3 class="pull-left">Areas</h3>
      <button class="btn btn-create pull-right" ng-click="addEditArea()">+ Add an Area</button>
    </div>
    <!-- <div class="map-section pull-left" style="background-color: #eee;">
      <p class="text-center">
        Map goes here
      </p>
    </div> -->
    <div class="map-section pull-left" style="background-color: #eee; height: 100%;" default-style="false" map-lazy-load="{{googleMapsUrl}}"
        map-lazy-load-params="{{googleMapsUrlWithKey}}">
      <ng-map 
        center="39.863207,-100.458613" zoom="4"
        pan-control="false"
        map-type-control="false"
        zoom-control="true"
        fullscreen-control="false" 
        street-View-control="false"
      >
        <shape name="circle" ng-repeat="area in areas" no-watcher="true"
          stroke-color="#3EB7B3"
          stroke-opacity="0"
          stroke-weight="2"
          fill-color="#3EB7B3"
          fill-opacity="0.4"
          center="{{ [area.location.lat,area.location.lon] }}"
          radius="{{ milesToMeters(area.radius) }}">
        </shape>
        <shape name="circle" ng-repeat="area in areas" no-watcher="true"
          stroke-color="#3EB7B3"
          stroke-opacity="0"
          stroke-weight="2"
          fill-color="#3EB7B3"
          fill-opacity="0.5"
          center="{{ [area.location.lat,area.location.lon] }}"
          radius="{{ milesToMeters(area.radius)/5 }}">
        </shape>
      </ng-map>
    </div>
    <div class="right-top-section pull-left">
      <div class="form-group pull-right">
        <input class="form-control" placeholder="Search for areas" type="text" ng-model="searchString" ng-keypress="keyPressed($event)">
      </div>
    </div>
    <div ng-if="(areas.length == 0 && !searchOnProgress)" class="empty-state text-center pull-left">
      <i></i>
      <p>
        Couldn’t find anything related.
      </p>
      <p class="small">
        Please try again with a different search term
      </p>
    </div>
    <div ng-if="!(areas.length == 0 && !searchOnProgress)" class="content-wrapper pull-left">
      <div class="table-header pull-left">
        <div class="header-item area-date pull-left">
          ADDED DATE
        </div>
        <div class="header-item area-loc pull-left">
          LOCATION
        </div>
        <div class="header-item area-radius pull-left">
          RADIUS
        </div>
        <div class="header-item area-type pull-left">
          TYPE
        </div>
      </div>
      <div class="table-content-wrapper pull-left data_areas_table">
        <div class="table-item pull-left" ng-repeat="area in areas | orderBy: 'location_name.toLowerCase()'">
          <div class="row-item area-date pull-left">
            {{ area.created_at | date : 'MM/dd/yyyy' }}
          </div>
          <div class="row-item area-loc pull-left">
            {{ area.location_name }}
          </div>
          <div class="row-item area-radius pull-left">
            +{{ area.radius }}MI
          </div>
          <div class="row-item area-type pull-left">
            {{ area.market_name }}
          </div>
          <div class="row-item mar-btn-sec pull-right">
            <button class="btn btn-remove pull-right" ng-click="deleteArea(area)">Remove</button>
            <button class="btn btn-edit pull-right" ng-click="addEditArea(area)">Edit</button>
          </div>
        </div>
      </div>
      <div class="load-more pull-left" style="cursor: wait;" ng-if="searchOnProgress">
        <p class="text-center">
          LOADING...
        </p>
      </div>
    </div>
  </div>
</div>