<div class="container partner-container">

  <!-- Left selection tab -->
  <div ng-include include-replace src="'partials/left_tab.html'"></div>

  <!-- Right content section -->
  <div class="right-content pull-right">
    <div class="right-top-section pull-left">
      <h3 class="pull-left">{{ partner_id }} - {{ partner.first_name + " " + partner.last_name }} - <span>{{ partner.email }}</span></h3>
    </div>
    <div class="content-wrapper pull-left">
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Personal Details</h4>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            First Name:
          </div>
          <div class="item-detail pull-left">
            <p editable-text="partner.first_name" onbeforesave="update('first_name',$data)">
              {{ partner.first_name || 'empty' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Last Name:
          </div>
          <div class="item-detail pull-left">
            <p editable-text="partner.last_name" onbeforesave="update('last_name',$data)">
              {{ partner.last_name || 'empty' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Email:
          </div>
          <div class="item-detail pull-left">
            <p editable-email="partner.email" onbeforesave="update('email',$data)">
              {{ partner.email || 'empty' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Phone No.:
          </div>
          <div class="item-detail pull-left">
            <p editable-tel="partner.phone"  e-pattern="^\d{10}$" e-title="10 digits (Example: '1234567890')" onbeforesave="update('phone',$data)">
              {{ (partner.phone | formatPhoneNumber) || 'empty' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Date of Birth:
          </div>
          <div class="item-detail pull-left">
            <p editable-bsdate="partner.dob2"
              e-is-open="opened.$data"
              e-ng-click="open($event,'$data')"
              onbeforesave="update('dob',$data)"
              e-datepicker-popup="MM/dd/yyyy">
              {{ (partner.dob2 | date : 'MM/dd/yyyy') || 'not set' }}
            </p>
          </div>
        </div>
      </div>
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Account Details</h4>
        </div>
        <!-- <div class="item-row pull-left">
          <div class="item-label pull-left">
            Certified:
          </div>
          <div class="item-detail pull-left">
            <p>
              Yes
            </p>
          </div>
        </div> -->
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Date Joined:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ partner.date_joined | date : 'MM/dd/yyyy' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Gym Membership:
          </div>
          <div class="item-detail pull-left">
            <p class="text-capitalize" editable-checkbox="partner.gym_membership" onbeforesave="update('gym_membership',$data)">
              {{ partner.gym_membership ? "Yes" : "No" }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left" ng-if="partner.gym_membership">
          <div class="item-label pull-left">
            Gym Name:
          </div>
          <div class="item-detail pull-left">
            <input vs-google-autocomplete="{ types: ['establishment'],componentRestrictions: { country: 'US' } }"
                 vs-autocomplete-validator
                 ng-model="gym.title"
                 vs-place="gym.place"
                 vs-place-id="gym.place_id"
                 vs-latitude="gym.lat"
                 vs-longitude="gym.lon"
                 type="text" name="gym_title"
                 class="form-control" placeholder="Enter the gym name">
          </div>
        </div>
        <div class="item-row pull-left" ng-if="partner.gym_membership">
          <div class="item-label pull-left">
            Gym Address:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ partner.gym_location }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Questionnaire Score:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ partner.questionnaire_score }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Invite Code:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ partner.invite_code }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Invited Code:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ partner.invited_code }}
            </p>
          </div>
        </div>
      </div>
      <login-history ng-if="partner_id!=0" userid="partner_id" type="partner" count="10" initial="5"></login-history>
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Sesssions</h4>
        </div>
        <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              {{ partner.sessions.total == null ? 0 : partner.sessions.total }}
            </p>
          </div>
        </div>
<!--         <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of scheduled sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              234
            </p>
          </div>
        </div> -->
<!--         <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of on-demand sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              120
            </p>
          </div>
        </div> -->
        <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total no. of cancelled sessions:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              {{ partner.sessions.cancelled == null ? 0 : partner.sessions.cancelled }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label sessions pull-left">
            Total revenue:
          </div>
          <div class="item-detail sessions pull-left">
            <p>
              {{ partner.sessions.total_revenue | centsToDollars | currency : '$' : 2 }}
            </p>
          </div>
        </div>
      </div>
      <div class="item-info pull-left" ng-if="partnerWorkoutTypes.length != 0">
        <div class="item-row pull-left">
          <h4>Workout Types</h4>
        </div>
        <div class="header-row pull-left">
          <div class="header-item type pull-left">
            TYPE
          </div>
          <div class="header-item session-count pull-left">
            NO. OF SESSIONS
          </div>
        </div>
        <div class="item-row pull-left" ng-repeat="partnerWorkoutType in partnerWorkoutTypes | orderBy:'-count'">
          <div class="item-label type pull-left">
            {{ partnerWorkoutType.workout_name }}
          </div>
          <div class="item-detail session-count pull-left">
            <p>
              {{ partnerWorkoutType.count | number : 0 }}
            </p>
          </div>
        </div>
      </div>
      <session-history ng-if="partner_id!=0" userid="partner_id" type="partner" count="10" initial="5"></session-history>
    </div>
  </div>
</div>
