<div class="container partner-container">

  <!-- Left selection tab -->
  <div ng-include include-replace src="'partials/left_tab.html'"></div>

  <!-- Right content section -->
  <div class="right-content pull-right">
    <div class="right-top-section pull-left">
      <h3 class="pull-left">Session ID - {{ session_id }}</h3>
    </div>
    <div class="content-wrapper pull-left">
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Session Details</h4>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Partner:
          </div>
          <div class="item-detail pull-left">
            <a href="mailto:{{ session.partner_email }}">{{ session.partner_email }}</a>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Client:
          </div>
          <div class="item-detail pull-left">
            <a href="mailto:{{ session.client_email }}">{{ session.client_email }}</a>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Location:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.location }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Client Gym Location:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.client_gym_name }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Status:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.status }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Date &amp; Time:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.date_time | date : 'h:mma, MM/dd/yyyy' }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Workout Type:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.workout_type }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Rating from Client:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.rating_from_client }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Client Feedback:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.client_feedback }}
            </p>
          </div>
        </div>
      </div>
      <div class="item-info pull-left">
        <div class="item-row pull-left">
          <h4>Payment Information</h4>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Session Price:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.payment.session_price | centsToDollars | currency : '$' : 2 }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Partner Payout:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.payment.partner_payout | centsToDollars | currency : '$' : 2 }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Payment Method:
          </div>
          <div class="item-detail pull-left">
            <p>
              {{ session.payment.method }}
            </p>
          </div>
        </div>
        <div class="item-row pull-left">
          <div class="item-label pull-left">
            Payment Reference ID:
          </div>
          <div class="item-detail pull-left">
            <a>{{ session.payment.ref_id }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
