/*general style sheet*/
// .container {
//   min-width: 990px;
// }

a.pointer{
  cursor: pointer!important;
}

button{
  &:focus{
    outline:0!important;
    color: #fff!important;
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}

/*header-section-styles*/
#header{
  padding-top: 50px;

  @media (max-width: 767px){
    padding-top: 25px;
  }

  .branding-wrapper{
    img{
      @media (max-width: 767px){
        width: 61px;
      }
    }
  }
  .header-menu-wrapper{
    ul.header-menu{
      float: right;

      @media (max-width: 1199px){
        padding-left: 0;
      }
      @media (max-width: 767px){
        padding-left: 13px;
      }

      li{
        float: left;
        list-style: none;
        margin: 0 30px;

        @media (max-width: 1199px){
          margin: 0 16px;
        }
        @media (max-width: 991px){
          margin: 0 14px;
        }
        @media (max-width: 767px){
          margin: 0 12px;
        }
        @media (max-width: 361px){
          margin: 0 5px;
        }

        &:first-child{
          margin-left: 0;
        }
        &:nth-child(2){
          @media (max-width: 767px){
            margin-right: 0;
          }
        }
        &:nth-child(3){
          margin-right: 0;
          margin-left: 16px;

          @media (max-width: 1199px){
            margin-left: 0;
          }
        }
        &:last-child{
          margin-left: 16px;
          margin-right: 0;

          @media(max-width: 767px){
            margin-left: 12px;
          }
          @media(max-width: 361px){
            margin-left: 6px;
          }
        }
        a{
          color: #fff;
          font-size: 19px;

          @media (max-width: 992px){
            font-size: 13px;
          }

          @media (max-width: 767px){
            font-size: 14px;
          }
          @media (max-width: 361px){
            font-size: 13px;
          }

          &:hover{
            text-decoration: underline;
          }
        }
      }
      li.active{
        a{

        }
      }
      li.sign-out{
        a{
          color: #505354;
          font-size: 16px;
        }
      }
      li.button{
        margin-top: -8px;
        a{
          button{
            height: 45px;
            width: 191.2px;

            @media (max-width: 991px){
              width: 190px;
            }

            &:focus{
              color: #fff;
            }
          }
          // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06bcb3+0,08bfed+100 */
          // background: #06bcb3; /* Old browsers */
          // background: -moz-linear-gradient(left, #06bcb3 0%, #08bfed 100%); /* FF3.6-15 */
          // background: -webkit-linear-gradient(left, #06bcb3 0%,#08bfed 100%); /* Chrome10-25,Safari5.1-6 */
          // background: linear-gradient(to right, #06bcb3 0%,#08bfed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06bcb3', endColorstr='#08bfed',GradientType=1 ); /* IE6-9 */
          // border-radius: 5px;
          // display: inline-block;
          // height: 45px;
          // line-height: 2.3;
          // text-align: center;
          // transition: all 0.2s ease 0s;
          // width: 191.2px;
          //
          // &:hover{
          //   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08bfed+0,06bcb3+100 */
          //   background: #08bfed; /* Old browsers */
          //   background: -moz-linear-gradient(left, #08bfed 0%, #06bcb3 100%); /* FF3.6-15 */
          //   background: -webkit-linear-gradient(left, #08bfed 0%,#06bcb3 100%); /* Chrome10-25,Safari5.1-6 */
          //   background: linear-gradient(to right, #08bfed 0%,#06bcb3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08bfed', endColorstr='#06bcb3',GradientType=1 ); /* IE6-9 */
          //   text-decoration: none;
          // }
        }
      }
    }
  }
}

/*menu empty page*/
body.sub-page-menu-empty{
  background-color: #f7f7f7;
  #header{
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
    .header-menu{
      margin: 3px 0 0;
    }
  }
}

// Partners styling
body.partners{
  background-color: #eff7f9;

  .partner-container{
    padding: 0;
    width: 1350px;

    @media (max-width: 1367px){
      width: 1320px;
    }
    @media (max-width: 1281px){
      width: 1250px;
    }
  }

  .selection-tab{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    margin-top: 46px;
    width: 226px;

    @media (max-width: 1367px){
      width: 210px;
    }
    @media (max-width: 1281px){
      width: 180px;
    }

    .tab-item{
      border-bottom: solid 0.6px rgba(0, 0, 0, 0.05);
      color: #004d4c;
      cursor: pointer;
      font-size: 16px;
      height: 47px;
      line-height: 47px;
      padding: 0 15px;
      width: 100%;

      &:last-child{
        border: 0 none;
      }
      &:last-child.active{
        border-radius: 0 0 8px 8px;
      }
      &:first-child.active{
        border-radius: 8px 8px 0 0;
      }
      &:hover{
        background-color: #f7fdff;
        color: #3eb7b3;
      }
      &:first-child{
        &:hover{
          border-radius: 8px 8px 0 0;
        }
      }
      &:last-child{
        &:hover{
          border-radius: 0 0 8px 8px;
        }
      }
    }
    .tab-item.active{
      background-color: #f7fdff;
      color: #3eb7b3;
      cursor: default;
      position: relative;

      &:after{
        background-image: url(../../img/arrow.png);
        background-size: cover;
        content: "";
        display: block;
        height: 13.5px;
        width: 18.7px;

        position: absolute;
        top: 17px;
        right: 17px;
      }
    }
  }

  .right-content{
    margin-bottom: 46px;
    margin-top: 46px;
    width: 1092px;

    @media (max-width: 1281px){
      width: 1055px;
    }

    .right-top-section{
      width: 100%;

      h3{
        color: #004d4c;
        font-size: 32px;
        margin: 0;

        a, span{
          color: #5e8585;
          font-size: 32px;
        }
        a{
          cursor: pointer;
        }
      }
      .form-group{
        margin: 0;
        position: relative;

        .form-control{
          background-color: rgba(0, 0, 0, 0.03);
          border: 0 none;
          border-radius: 8px;
          height: 38px;
          padding-left: 40px;
          width: 366px;

          &:focus{
            background-color: #fff;
          }
        }
        &:before{
          background-image: url("../../img/search.png");
          background-size: cover;
          background-position: center;
          content: "";
          display: block;
          height: 14px;
          width: 13.7px;

          position: absolute;
          top: 12px;
          left: 14px;
        }
      }
      .btn-group{
        margin-right: 12px;
        width: 214px;

        button{
          background-color: #ffffff;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
          color: #414b4b;
          font-size: 16px;
          height: 38px;
          width: 100%;

          &:focus{
            color: #414b4b!important;
          }
        }
        .dropdown-menu{
          margin-top: 10px;
          padding: 0;
          width: 100%;

          li{
            border-bottom: solid 0.6px rgba(0, 0, 0, 0.12);
            a{
              height: 48px;
              line-height: 48px;
              padding: 0 12px;
            }

            &:first-child{
              a{
                &:hover{
                  border-radius: 4px 4px 0 0;
                }
              }
            }
            &:last-child{
              border: 0 none;

              a{
                &:hover{
                  border-radius: 0 0 4px 4px;
                }
              }
            }
          }
        }
      }
      .btn-group.open{
        button{
          background-color: #eaeff0;
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
        }
      }
      .btn-create{
        background-color: #08bee7;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        font-size: 18px;
        height: 45px;
        padding: 0 24px;
        transition: .2s;

        &:hover, &:focus{
          box-shadow: 3px 2px 6px 1px rgba(0, 0, 0, 0.12);
        }
      }
    }

    .right-top-section.q-section{
      .btn-group{
        margin-left: 15px;
        width: 124px;

        button{
          text-align: left;
        }

        .caret{
          position: absolute;
          top: 17px;
          right: 10px;
        }
      }
    }

    .map-section{
      height: 335px;
      margin-bottom: 30px;
      margin-top: 35px;
      width: 100%;
    }

    .content-wrapper{
      margin-top: 28px;
      width: 100%;

      .table-header{
        background-color: #ecf1f2;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        height: 43px;
        padding: 0 27px;
        width: 100%;

        .header-item{
          color: #414b4b;
          font-size: 14px;
          line-height: 43px;
          letter-spacing: 2px;
        }
      }
      .table-content-wrapper{
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        max-height: 598px;
        overflow: auto;
        width: 100%;

        .table-item{
          background-color: #fff;
          border-bottom: solid 0.6px rgba(0, 0, 0, 0.12);
          cursor: pointer;
          height: 48px;
          padding: 0 27px;
          width: 100%;

          &:hover{
            background-color: #f7fdff;
          }

          &:last-child{
            border: 0 none;
          }

          .row-item{
            color: #414b4b;
            font-size: 16px;
            line-height: 48px;
          }
        }
        .table-item.questionnaire-item-row{
          height: auto;
          min-height: 48px;

          .row-item.questionnaire-item{
            line-height: 2.9;
          }
        }
      }
      .id{
        width: 144px;
      }
      .name{
        width: 361px;
      }
      .first-name{
        width: 180px;
      }
      .last-name{
        width: 180px;
      }
      .name-history{
        width: 375px;
      }
      .mail{
        width: 362px;
      }
      .name-partner{
        width: 214px;
      }
      .mail-partner{
        width: 357px;
      }
      .mail-partner-1{
        width: 152px;
      }
      .pay-date{
        width: 144px;
      }
      .pay-name{
        width: 271px;
      }
      .pay-acc{
        width: 252px;
      }
      .pay-rou{
        width: 236px;
      }
      .mar-name{
        width: 155px;
      }
      .mar-session{
        width: 162px;
      }
      .mar-book{
        width: 170px;
      }
      .mar-can{
        width: 163px;
      }
      .mar-gym{
        width: 170px;
      }
      .area-date{
        width: 144px;
      }
      .area-loc{
        width: 321px;
      }
      .area-radius{
        width: 202px;
      }
      .area-type{
        width: 189px;
      }
      .questionnaire-item{
        width: 867px;

        @media (max-width: 1281px){
          width: 855px;
        }
      }
      .load-more{
        background-color: #f5f5f5;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        height: 43px;
        line-height: 43px;
        width: 100%;

        p{
          color: #788b8a;
          font-size: 16px;
          margin: 0;

          .caret{
            border-top: 6px dashed;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            margin-top: -4px;
          }
        }
      }
      .btn-remove, .btn-edit{
        border-radius: 4.8px;
        font-size: 13px;
        height: 31.2px;
        margin-top: 8px;
      }
      .btn-remove{
        background-color: #ff6363;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        margin-left: 8.6px;
        padding: 0 14px;
      }
      .btn-edit{
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
        border: solid 0.5px rgba(0, 0, 0, 0.12);
        color: #414b4b;
        padding: 0 16px;

        &:focus{
          color: #414b4b!important
        }
      }

      .item-info{
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 13px;
        width: 100%;

        .row-wrapper{
          float: left;
          max-height: 265px;
          overflow: auto;
        }

        .item-row{
          border-bottom: solid 0.6px rgba(0, 0, 0, 0.12);
          min-height: 53px;
          padding: 15px 28px;
          width: 100%;

          &:last-child{
            border: 0 none;
          }

          h4{
            color: #414b4b;
            font-size: 18px;
            margin: 0;
          }
          .item-label{
            color: #414b4b;
            text-align: right;
            width: 161px;
          }
          .item-label.login{
            text-align: left;
            width: 204px;
          }
          .item-label.sessions{
            width: 232px;
          }
          .item-label.id{
            text-align: left;
            width: 144px;
          }
          .item-label.type{
            text-align: left;
            width: 204px;
          }
          .item-detail{
            padding-left: 16px;
            width: calc(100% - 165px);

            a{
              color: #3eb7b3;
              cursor: pointer;
            }
            p{
              color: #788b8a;
              margin: 0;
            }
          }
          .item-detail.login{
            padding-left: 0;
            width: calc(100% - 205px);
          }
          .item-detail.sessions{
            width: calc(100% - 232px);
          }
          .item-detail.name-history{
            padding-left: 0;
            width: 375px;
          }
          .item-detail.date-history{
            padding-left: 0;
            width: auto;
          }
          .item-detail.session-count{
            padding-left: 0;
            width: auto;
          }
        }

        .header-row{
          background-color: #ecf1f2;
          height: 43px;
          padding-left: 27px;
          width: 100%;

          .header-item{
            color: #414b4b;
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 43px;
          }
          .date{
            width: 204px;
          }
          .type{
            width: 204px;
          }
        }
      }
    }

    .empty-state{
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      height: 341px;
      margin-top: 28px;
      width: 100%;

      i{
        background-image: url("../../img/empty-box.png");
        background-size: cover;
        background-position: center;
        display: block;
        height: 60.8px;
        margin: 104.1px auto 21px;
        width: 77px;
      }
      p{
        color: #788b8a;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 500
      }
    }
  }
}


.sign-in-wrapper{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 150px auto 0;
  padding: 25px;
  width: 450px;
  h3{
    margin: 0 0 20px;
  }
  .form-wrapper{
    .form-group{
      .form-control{
        font-size: 16px;
        height: 40px;
      }
    }
    button.login{
      background-color: #3eb7b3;
      color: #fff;
      font-size: 16px;
      height: 40px;
      width: 100%;
    }
  }
}

.copyright{
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding-top: 30px;

  p{

  }
}

.ngdialog.info{
  .ngdialog-content{
    margin: 83px auto 0;
    position: relative;
    width: 607px;

    .ngAppPopupDialog {
      background-color: #ffffff;
      border-radius: 8px;
      padding: 0;
    }
    .popup-header{
      border-bottom: solid 0.6px rgba(0, 0, 0, 0.12);
      height: 64px;
      padding: 0 20px;
      width: 100%;

      h3{
        color: #414b4b;
        font-size: 24px;
        line-height: 64px;
        margin: 0;
      }
    }
    .content{
      padding: 7px 20px;
      width: 100%;

      p{
        color: #788b8a;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 27px;
      }
      label{
        color: #788b8a;
        font-size: 18px;
        font-weight: 400;
        margin: 7px 0 0;
        width: 83px;
      }
      .form-group{
        margin-bottom: 25px;

        .form-control{
          border: solid 0.6px rgba(0, 0, 0, 0.12);
          border-radius: 8px;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
          font-size: 18px;
          height: 45px;
        }
      }
      .location{
        margin-top: 11px;
        width: 100%;

        .form-group{
          margin-bottom: 20px;
          width: 414px;
        }
      }
      .location.createM{
        label{
          width: 213px;
        }
        .form-group{
          width: 314px;
        }
      }
      .radius{
        .form-group{
          width: 113px;
        }
      }
      .type{
        label{
          width: 69px;
        }
        .form-group{
          width: 98px;
        }
      }
    }
    .popup-footer{
      padding: 0 20px;
      width: 100%;

      button{
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        font-size: 19px;
        height: 52px;
        margin-bottom: 20px;
        margin-left: 14px;
        padding: 0;
        width: 194px;
      }
      button.btn-yes{
        background-color: #ffffff;
        border: solid 0.6px rgba(0, 0, 0, 0.12);
        color: #414b4b;

        &:focus{
          color: #414b4b!important;
        }
      }
      button.btn-no{
        background-color: #08bee7;
        color: #ffffff;
      }
    }
  }
}
.ngdialog.info.editArea, .ngdialog.info.addArea{
  .ngdialog-content{
    width: 537px;
  }
}

.ngdialog.info.createMarket{
  .ngdialog-content{
    width: 567px;
  }
}

.ngdialog.info.addQuestion{
  .ngdialog-content{
    width: 862px;

    .content{
      padding-top: 18px;
      padding-bottom: 25px;

      .q-row{
        width: 100%;
      }
      label{
        width: 213px;
      }
      .q-main{
        width: 609px;
      }
      .q-item{
        width: 547px;
      }
      .radio-wrapper{
        position: relative;
        height: 45px;
        width: 45px;

        label{
          width: auto;
        }

        input[type=checkbox], input[type=radio]{
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
        }
        .styled-checkbox + label:before{
          position: absolute;
          top: 0px;
          left: -30px;
        }

        .styled-checkbox {
          position: absolute;
          opacity: 0;
          z-index: 1;
          width: 45px;
          height: 45px;
          margin: 0!important;
          left: -30px;
          top: 0;

          & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
            margin: 0;
            top: -18px;
          }

          // Box.
          & + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 45px;
            height: 45px;
            background: white;
            border: 1px solid rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            position: absolute;
            left: 0;
            top: 1px;
          }

          // Box checked
          &:checked + label:before {
            background-image: url(../../img/check.png);
            width: 45px;
            height: 45px;
            background-size: cover;
            border: 0;
          }
        }
      }
    }
  }
}
.pac-container.pac-logo{
  z-index: 20000!important;
}
