/*text style sheet*/
* {
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: 'Futura Next Medium',sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*prevent text resizing on oriontation*/
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

/*hover global styles*/
a{
  &:hover, &:focus{
    text-decoration: none;
  }
}

/*placeholder colors*/
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

/*future next book*/
.home-top-text-container{
  h1, h2{
    font-family: 'Futura Next Book';
  }
}
.right-top-section h3, .right-top-section .btn-group button, .right-top-section .btn-group ul li a, .header-item, .table-item .row-item, .load-more p, .empty-state p.small, .item-row .item-label, .item-row .item-detail p, .item-row .item-detail a, .right-top-section h3 span, .right-top-section h3 a, .sign-in-wrapper h3, .copyright p, .ngdialog-content .content p, .content label, .content .form-group .form-control, .btn-create{
   font-family: 'Futura Next Book';
 }
